/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background-color: black;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
}

header h1{
    color: white;
    font-weight: 100;
    display: inline-block;
    margin: 0%;
    padding-left: 7px;
}

header .contenedor{
    display: flex;
    justify-content: center;
}

.holder{
    padding: 10px;
}

header .user{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#imguser{
    border-radius: 50%;
    display: flex;
}

header ul{
    list-style: none;
    display: flex;
    margin: 0%;
    padding-top: 5px;
    padding-left: 0%;
}

header ul li{
    flex-grow: 1;
}

header ul li a{
    color: white;
    text-decoration: none;
    padding: 6px;
    display: block;
    text-align: left;
}

.logo{
    padding-right: 10px;
}

nav{
    background-color: rgb(240, 240, 240);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    margin-left: 5px;
    padding: 0%;
}

nav ul li{
    flex-grow: 1;
    padding: 5px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    align-items: center;
    padding: 2px;
    transition-duration: 0.7s;

}

nav ul li a:hover{
    background-color: grey;
    color: white;
    border-radius: 5%;
}

nav ul li a.activo{
    background-color: gray;
    color: white;
    border-radius: 5%;
}

main{
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-columns: 70% 30%;
    padding-bottom: 25px;
}

.materias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 15px;
}

.materia{
    border-radius: 10px;
    background-color: white;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 250px;
    transition-duration: 0.5s;
}

.materia:hover{
    box-shadow: 0 0 10px gray;
    transition: all 0.2s ease;
    scale: 1.05;
}

.materia img{
    max-width: 100%;
    object-fit: cover;
    height: 50%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.materia h4{
    margin: 0%;
    text-align: left;
    padding-left: 5px;
    padding-top: 15px;
}

.materia span{
    padding-left: 5px;
    font-size: 12px;
}

.materia a{
    text-decoration: none;
    color: black;
}

.nomaterias{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 400px;
    margin-right: 10px;
    margin-left: 10px;
}

.nomaterias h1{
    margin-left: 15px;
    text-align: right;
    padding-top: 5px;
}

.nomaterias img{
    width: 30%;
    align-items: center;
}

.notificacion{
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-left: 10px;
}

.notificacion h4{
    margin-top: 0px;
    padding-top: 10px;
}

.notificacion span{
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5px;
}

.notificacion a{
    text-decoration: none;
    color: black;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}

.notificacion a img{
    width: 5%;
    margin-right: 5px;
    padding-top: 2px;
}

.calculoavanzado{
    display: grid;
    grid-template-columns: 30% 70%;
}

.clases{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.clases h1{
    margin: 0%;
}

.clases a{
    text-decoration: none;
    color: black;
}

.clases li{
    padding-bottom: 5px;
}

.clase{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    border-radius: 15px;
    margin-right: 10px;
    padding: 15px;
}

.clase h1{
    margin-top: 0%;
}

.clase a{
    text-decoration: none;
    color: black;
    padding-left: 15px;
    padding-left: 5px;
}

.clase img{
    padding-bottom: 10px;
    width: 60%;
}

.clase a img{
    width: 1.5%;
    padding: 0%;
    margin-right: 5px;
}
